{% extends "ticketSales/layout.html" %}
{% block titlepage %} 
 جزییات {{ concertdetails.Name }}
{% endblock %}

{% block maincontent %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mainborder">
        <div class="row">
            <div class="col-md-6">
                <p class="mylable">نام   : {{ formData.first_name }}</p>
                <p class="mylable">نام خانوادگی   : {{ formData.last_name }}</p>
                <p class="mylable">جنسیت : {{ formData.Gender }}</p>
                <p class="mylable">اعتبار  : {{ formData.credit }}</p>
            </div>
            <div class="col-md-6">
                <p class="mylable">ایمیل : {{ formData.email }}</p>
                <p class="mylable">نام کاربری: {{ formData.username }}</p>
                <p class="mylable">رمز عبور: {{ formData.password }}</p>
                {{ formData.ProfileImage }}
            </div>
            <div class="bottonborder">
                <button type="submit" class="btn btn-success">ذخیره  </button>
            </div>
        </div>
    </div>
</form>




{% endblock %}